<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <div class="nav_container">
            <h1 class="logo">AJK Market</h1>
            <nav>
                <ul class="nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/services">Nos services</a></li>
                    <li><a href="/contact"> Nous contacter</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <section id="title" class="title">
            <h2>Bienvenue sur notre site</h2>
            <p>Nous sommes une entreprise dédiée à la fourniture de services de qualité.</p>
        </section>
        <section class="title">
            <a href="/services" class="_btn">voir nos produit</a>
        </section>
    </main>

    <footer class="footer">
        <p>Contactez-nous : <a href="mailto:contact@vitrine.com">contact@vitrine.com</a></p>
        <p>
            <a href="#">Facebook</a> | 
            <a href="#">Twitter</a> | 
            <a href="#">Instagram</a>
        </p>
    </footer>
</body>
</html>
