<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès refusé</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <div class="nav_container">
            <h1 class="logo">Page Vitrine</h1>
            <nav>
                <ul class="nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/services">Nos services</a></li>
                    <li><a href="/contact"> Nous contacter</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <section class="title">
            <h1 class="error-message">Accès refusé</h1>
            <p>Ce site n'est accessible que pendant les heures de travail (Lundi - Vendredi, 9h - 17h).</p>
        </section>
    </main>

    <footer class="footer">
        <p>Contactez-nous : <a href="mailto:contact@vitrine.com">contact@vitrine.com</a></p>
        <p>
            <a href="#">Facebook</a> | 
            <a href="#">Twitter</a> | 
            <a href="#">Instagram</a>
        </p>
    </footer>
</body>
</html>
