<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos services</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <div class="nav_container">
            <h1 class="logo">AJK Market</h1>
            <nav>
                <ul class="nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/services">Nos services</a></li>
                    <li><a href="/contact"> Nous contacter</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main class="container">
       <section id="title" class="title">
            <h1>Nos services</h1>
            <p>Nous offrons une gamme de services professionnels adaptés à vos besoins.</p>
       </section>

        <section id="services">
            <h3>Nos Services</h3>
            <div class="services_cards">
                <div class="card">
                    <img src="../image/T-shirt_beige.webp" alt="Service 1">
                    <h5>T-shirt Blanc</h5>
                    <p>Description du service 1.</p>
                </div>
                <div class="card">
                    <img src="../image/t-shirt_noir.webp" alt="Service 2">
                    <h5>T-shirt Noir</h5>
                    <p>Description du service 2.</p>
                </div>
                <div class="card">
                    <img src="../image/t-shirt_rouge.avif" alt="Service 3">
                    <h5>T-shirt Rouge</h5>
                    <p>Description du service 3.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>Contactez-nous : <a href="mailto:contact@vitrine.com">contact@vitrine.com</a></p>
        <p>
            <a href="#">Facebook</a> | 
            <a href="#">Twitter</a> | 
            <a href="#">Instagram</a>
        </p>
    </footer>
</body>
</html>
